<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.schj.mapper.InsurancePolicyMapper">
    <resultMap id="InsurancePolicyResultMap" type="com.schj.pojo.po.InsurancePolicy">
        <!-- 主键字段 -->
        <id column="id" property="id" jdbcType="BIGINT"/>

        <!-- 核心业务字段 -->
        <result column="policy_no" property="policyNo" jdbcType="VARCHAR"/>
        <result column="proposal_no" property="proposalNo" jdbcType="VARCHAR"/>
        <result column="company_code" property="companyCode" jdbcType="CHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>

        <!-- 状态与时间相关 -->
        <result column="policy_status" property="policyStatus" jdbcType="VARCHAR"/>
        <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP"/>
        <result column="effective_time" property="effectiveTime" jdbcType="TIMESTAMP"/>

        <!-- 金额相关字段 -->
        <result column="premium" property="premium" jdbcType="DECIMAL"/>
        <result column="insured_amount" property="insuredAmount" jdbcType="DECIMAL"/>

        <result column="beneficiary_type" property="beneficiaryType" jdbcType="VARCHAR"/>
        <!-- 缴费信息 -->
        <result column="payment_years" property="paymentYears" jdbcType="INTEGER"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="payment_times" property="paymentTimes" jdbcType="INTEGER"/>

        <!-- 保障信息 -->
        <result column="coverage_period" property="coveragePeriod" jdbcType="VARCHAR"/>

        <!-- 系统字段 -->
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="insertInsurancePolicy"
            parameterType="com.schj.pojo.po.InsurancePolicy">
        insert into insurance_policy (id,
                                      policy_no,
                                      proposal_no,
                                      company_code,
                                      company_name,
                                      policy_status,
                                      application_time,
                                      effective_time,
                                      premium,
                                      insured_amount,
                                      beneficiary_type,
                                      payment_years,
                                      payment_method,
                                      payment_times,
                                      coverage_period,
                                      created_time,
                                      creator,
                                      updated_time,
                                      updater,
                                      is_deleted)
            value (#{id},
                   #{policyNo},
                   #{proposalNo},
                   #{companyCode},
                   #{companyName},
                   #{policyStatus},
                   #{applicationTime},
                   #{effectiveTime},
                   #{premium},
                   #{insuredAmount},
                   #{beneficiaryType},
                   #{paymentYears},
                   #{paymentMethod},
                   #{paymentTimes},
                   #{coveragePeriod},
                   #{createdTime},
                   #{creator},
                   #{updatedTime},
                   #{updater},
                   #{isDeleted})
    </insert>
    <update id="updateInsurancePolicyById">
        update insurance_policy
        set
            policy_no = #{policyNo},
            proposal_no = #{proposalNo},
            company_code = #{companyCode},
            company_name = #{companyName},
            policy_status = #{policyStatus},
            application_time = #{applicationTime},
            effective_time = #{effectiveTime},
            premium = #{premium},
            insured_amount = #{insuredAmount},
            beneficiary_type = #{beneficiaryType},
            payment_years = #{paymentYears},
            payment_method = #{paymentMethod},
            payment_times = #{paymentTimes},
            coverage_period = #{coveragePeriod},
            updated_time = #{updatedTime},
            updater = #{updater}
        where id = #{id}
          and is_deleted = 0
    </update>
    <select id="getInsurancePolicyList"
            resultMap="InsurancePolicyResultMap">
        select *
        from insurance_policy
        order by updated_time desc
        limit #{count};
    </select>

    <select id="list" resultMap="InsurancePolicyResultMap"
            parameterType="com.schj.pojo.dto.request.PolicyQueryRequest">
        SELECT * FROM insurance_policy
        <where>
            <if test="policyNo != null and query.policyNo != ''">
                and policy_no = #{query.policyNo}
            </if>
            <if test="companyName != null and query.companyName != ''">
                and company_name LIKE CONCAT('%', #{query.companyName}, '%')
            </if>
            <if test="productName != null and query.productName != ''">
                and product_name LIKE CONCAT('%', #{query.productName}, '%')
            </if>
            <if test="startApplicationTime != null">
                and application_time &gt;= #{query.startApplicationTime}
            </if>
            <if test="endApplicationTime != null">
                and application_time &lt;= #{query.endApplicationTime}
            </if>
            <if test="query.startEffectiveTime != null">
                effective_time &gt;= #{query.startEffectiveTime}
            </if>
            <if test="query.endEffectiveTime != null">
                effective_time &lt;= #{query.endEffectiveTime}
            </if>
        </where>
    </select>
    <select id="getInsurancePolicyById"
            resultMap="InsurancePolicyResultMap">
        select *
        from insurance_policy
        where id = #{id}
    </select>
</mapper>
